<%= form_for(@faculty) do |f|%>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <%= f.collection_select(:college_information_id, CollegeInformation.all, :id, :name,
                            {:include_blank => 'Please Select College Name'}) %>
    <%= select_tag :stream_id, options_for_select([["Stream Name",nil]]+
                           Stream.all.collect {|stream| [stream.name, stream.id]}) %>
    <div class="actions">
      <%=f.submit "Assign a faculty" %>
    </div>
<% end %>