<h1>College registration form</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>CollegeName</th>
    <th>StreamName</th>
  </tr>
  <% @college_registrations.each do |college|%>
      <tr>
        <td><%= college.name %></td>
        <td><%= college.email %></td>
        <td><%= college.college_information.name %></td>
        <td><%= college.stream.name %></td>
        <%# if college_information_id == current_user.id %>
            <td><%=link_to "Accept",'#' %></td>
            <td><%=link_to "Reject",'#' %></td>
        <%# end %>
      </tr>
  <% end %>
</table>
